.container-psdt {
  margin: 30px 140px 110px 140px !important;
}

.affix {
  top: 0;
  width: 100%;
  z-index: 9999 !important;
}

.navbar {
  margin-bottom: 0px;
}

.modal-dialog {
  margin-top: 120px;
}

table.dataTable thead .sorting:after,
table.dataTable thead .sorting_asc:after,
table.dataTable thead .sorting_desc:after,
table.dataTable thead .sorting_asc_disabled:after {
  content: none;
  //background: none;
}

.nav > li {
  position: relative;
  display: inline-block;
}

.nav > li > a {
  padding: 15px;
}

table.table-bordered.dataTable td,
table.dataTable thead > tr > th {
  padding: 4px;
}