//colors
$default-color: #dc5d2a;

//bootstrap colors
$brand-primary: $default-color;

//fonts
$font-size-base: 14px;
$fonts-path: "../fonts/";
//font-awesome fonts
$fa-font-path: "#{$fonts-path}font-awesome";
//bootstrap fonts
$icon-font-path: "#{$fonts-path}bootstrap";